@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --dt-color-bg-primary: #3c9af0;
  --dt-color-bg-secundary: #fff;
  --dt-color-bg-tertiary: #c8c8c8;

  --dt-color-font-primary: #5e5e5e;
  --dt-color-font-secundary: #3c9af0;
  --dt-color-font-tertiary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dt-color-bg-secundary);
}

main {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
